.auth__input {
    background-color: black;
    border-style: none;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 13px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}