.header {
  max-width: 880px;
  margin: 0 auto 40px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 600px;
    margin: 0;
    padding-top: 0;
  }
}
