.popup__submit {
  margin: 0 0 37px;
  /*width: 358px;*/
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: opacity;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .popup__submit {
    width: 238px;
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__submit:hover {
  opacity: 0.8;
}
